@{
    ViewBag.Title = "Home Page";
}

<main>
    <h2>Practical-13</h2>

    <h3>Task-1:</h3>
    <p>CRUD Operations of Employee Using Entity Framework with Code First migration.</p>

    <br />
    <br />

    <h3>Task-2:</h3>
    <p>CRUD Operations of Employee & Designation Using Entity Framework with Code First migration.</p>
</main>