
@{
    ViewBag.Title = "Index";
}

<button class="btn btn-light">@Html.ActionLink("Employee", "Index", "Task2Employee")</button>

<br />
<br />

<button class="btn btn-light">@Html.ActionLink("Designation", "Index", "Designation")</button>