
@{
    ViewBag.Title = "Index";
}

<h3>Employee CRUD Operations & other tasks:</h3>
<button class="btn btn-outline-primary">@Html.ActionLink("Employee", "Index", "Task2Employee")</button>

<br />
<br />

<h3>Designation CRUD Operations & other tasks:</h3>
<button class="btn btn-outline-primary">@Html.ActionLink("Designation", "Index", "Designation")</button>